.main-board {
  max-width: 602px;
  margin: auto;
  margin-top: 32px;
}

.section-board__starred {
  margin-bottom: 16px;
}

.section-board__title {
  margin-bottom: 16px;
  margin-left: 40px;
}

.section-board__icon {
  padding-right: 5px;
  vertical-align: text-top;
}

.my-boards-wrapper,
.starred-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.board__container {
  width: 190px;
  height: 96px;
  background-color: #4bbf6b;
  border-radius: 3px;
  padding: 8px;
  margin-bottom: 16px;
  position: relative;
}

.board-title {
  color: #ffffff;
}

.btn-create-new-board {
  width: 190px;
  background-color: #f0f2f5;
  border-style: none;
  text-align: center;
  padding: 38px 26px;
}

.hide {
  display: none;
}

.icon-star, .icon {
  position: absolute;
  right: 12px;
  bottom: 12px;

}

.icon-close-board, .icon-2 {
  position: absolute;
  right: 38px;
  bottom: 12px;
}

.board__container.starred:hover .icon-star-2 {
  display: inline;
}

.board__container.unstarred:hover .icon-star-1,
.board__container.unstarred:hover .icon-close-board {
  display: inline;
}

.board__container.closed:hover .icon-trash, .board__container.closed:hover .icon-recover {
    display: inline;
}

.overlay {
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  background-color: rgba(63, 63, 63, 0.8);
  z-index: 1;
  height: 100%;
}

.icon
