.lateral-section {
  width: 20%;
  height: 100%;
  min-width: 240px;
}

.menu__item {
  height: 32px;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}

.menu__item__link {
  display: flex;
  align-items: center;
  padding-left: 32px;
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: none;
  color: #172B4D;
  cursor: pointer;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.menu__item__button {
  background: #E4F0F6;
  border-radius: 4px;
}

.menu__item:hover, .menu-active {
  border-radius: 4px;
  background: #E4F0F6;
  color: #0079BF;
}

.menu__item:hover .menu__item__link, .menu-active .menu__item__link {
  color: #0079BF;
}

.list-undecorated {
  list-style: none;
  padding: 0px;
}

.text-undecorated {
  text-decoration: none;
}